[submodule "vk-mem-alloc-sys/vendor/VulkanMemoryAllocator"]
	path = vk-mem-alloc-sys/vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "vk-mem-alloc-sys/vendor/Vulkan-Headers"]
	path = vk-mem-alloc-sys/vendor/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
